@model MyHrProject.Models.Staff

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Staff</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control"/>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddleName" class="control-label"></label>
                <input asp-for="MiddleName" class="form-control"/>
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control"/>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control"/>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkPhoneNumber" class="control-label"></label>
                <input asp-for="WorkPhoneNumber" class="form-control"/>
                <span asp-validation-for="WorkPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonalPhoneNumber" class="control-label"></label>
                <input asp-for="PersonalPhoneNumber" class="form-control"/>
                <span asp-validation-for="PersonalPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Emailaddress" class="control-label"></label>
                <input asp-for="Emailaddress" class="form-control"/>
                <span asp-validation-for="Emailaddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control"/>
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmergencyContactFullName" class="control-label"></label>
                <input asp-for="EmergencyContactFullName" class="form-control"/>
                <span asp-validation-for="EmergencyContactFullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmergencyContactPhoneNumber" class="control-label"></label>
                <input asp-for="EmergencyContactPhoneNumber" class="form-control"/>
                <span asp-validation-for="EmergencyContactPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RelationshipToEmployee" class="control-label"></label>
                <input asp-for="RelationshipToEmployee" class="form-control"/>
                <span asp-validation-for="RelationshipToEmployee" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}